body, main, h1, span {
    margin: 0;
    padding: 0;
}

body {
    /* set flex*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    /* set as max size */
    width: 100vw;
    height: 100vh;

    /* no overflow */
    overflow-x: none;
    overflow-y: none;

    /* set font */
    font-family: 'Courier New', monospace;;
}

h1 {
    font-size: 7rem;
}

#panelbtn {
    background-color: white;
    
    font-size: 2rem;
    padding: 15px;

    position: fixed;
    right: 50px;
    bottom: 50px;
}

/* styles for tabs */
#google > input {
    font-size: 2.5rem;
    padding: 10px;
    
    accent-color: #4285f4;
}

#duckduckgo > input {
    font-size: 2.5rem;
    padding: 10px;

    accent-color: #ee400f;
}

#url > input {
    font-size: 1.5rem;
    padding: 20px;

    width: 60vw;

    accent-color: blacks;
}

#todolist {
    color: red;
}
